Django==1.6.11
Jinja2==2.7.2
Markdown==2.6.1
MarkupSafe==0.18
PAM==0.4.2
Pillow==2.3.0
Pygments==1.6
Scrapy==1.0.3
SecretStorage==2.0.0
South==1.0.2
Sphinx==1.2.2
Twisted==15.4.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
arandr==0.1.7.1
argparse==1.2.1
boto==2.20.1
bzr==2.7.0dev1
characteristic==14.3.0
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
configobj==4.7.2
cssselect==0.9.1
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
dj-database-url==0.3.0
django-bootstrap-toolkit==2.15.0
django-classy-tags==0.6.1
django-cms==2.4.3
django-grappelli==2.6.4
django-markdown==0.8.4
django-mptt==0.6.1
django-reversion==1.8.5
django-sekizai==0.8.1
django-tinymce==1.5.3
djangocms-admin-style==0.2.5
djangocms-column==1.5
djangocms-file==0.1
djangocms-flash==0.1
djangocms-googlemap==0.2
djangocms-inherit==0.1
djangocms-installer==0.7.2
djangocms-link==1.5
djangocms-picture==0.1
djangocms-style==1.5
djangocms-teaser==0.1
djangocms-text-ckeditor==2.4.3
djangocms-video==0.1
dnspython==1.11.1
docutils==0.11
duplicity==0.6.23
feedparser==5.1.3
html5lib==0.999
httplib2==0.8
instrumentino==1.01
ipython==1.2.1
keyring==3.5
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lockfile==0.8
lxml==3.3.3
matplotlib==1.4.0
mercurial==2.8.2
netifaces==0.8
nose==1.3.1
numpy==1.8.1
numpydoc==0.4
oauth==1.0.1
oauthlib==0.6.1
oneconf==0.3.7
paramiko==1.10.1
pexpect==3.1
piston-mini-client==0.7.5
pyOpenSSL==0.13
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pygpgme==0.3
pyparsing==2.0.1
pyserial==2.7
pysmbc==1.0.14.1
python-apt==0.9.3.5
python-cloudfiles==1.7.10
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-distutils-extra==2.38
pytz==2012c
pyudev==0.16.1
pyxattr==0.5.1
pyxdg==0.25
pyzmq==14.0.1
queuelib==1.4.2
reportlab==3.0
requests==2.2.1
roman==2.0.0
service-identity==14.0.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.3.1
six==1.5.2
slugify==0.0.1
software-center-aptd-plugins==0.0.0
ssh-import-id==3.21
synaptiks==0.8.1
system-service==0.1.6
tornado==3.1.1
unity-lens-photos==1.0
urllib3==1.7.1
vboxapi==1.0
virtualenv==12.0.7
w3lib==1.12.0
wadllib==1.3.2
winpdb==1.4.8
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.6.3build2
xlwt==0.7.5
zope.interface==4.0.5
