{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<br><br>
<div align="justify" style="font-family:arial; text-decoration: none !important;"><big>
{% for result in page.object_list %}
  <h1> <a  href="../{{ result.object.slug }}" style="color:#333333; text-decoration: none !important;"> <p>{{ result.object.nombre_completo }}</p></a></h1> <p> {{ result.object.pais }}</p>

    {% if result.object.imagen1 == '' %}
    <div></div>
    {% else %}
    <div><img src="/media/{{ result.object.imagen1 }}" height="300px"></div>
    {% endif %}

<br>
{% empty %}
   <p>Se se encontraron resultados</p>
{% endfor %}
</big></div>

{% endblock  %}



